/*showcase*/
#showcase .showcase-background{
	animation: bgChange 30s infinite;
	transition-delay: 2s;
}

@keyframes bgChange{
	0%{
		background: url(../img/slideshow/bakery.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	20%{
		background: url(../img/slideshow/bakery2.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	40%{
		background: url(../img/slideshow/berry-cake.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	60%{
		background: url(../img/slideshow/bread.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	80%{
		background: url(../img/slideshow/abundance.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	100%{
		background: url(../img/slideshow/bakery.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


}

#showcase h2{
	padding-top: 200px;
	padding-bottom: 10px;
}

#showcase .content-wrap,
#section-a .content-wrap,
#section-c .content-wrap{
	padding: 0 1.5em;
}

/*section a*/

#section-a {
	background: #eaeaea;
	color: #333;
	padding-bottom: 2em;
}

/*section b*/

#section-b{
	padding: 2em 1em 1em;
}

#section-b ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#section-b li img{
	height: 300px;
}

#section-b li h3{
	font-weight: bold;
	text-transform: uppercase;
	color: #222;
}

#section-b li{
	margin-bottom: 2em;
	background-color: #fff;
	color: #333;
}

#section-b ul a{
	text-decoration: none;
	color: #333;
}

/*section c*/

#section-c {
	background: #eaeaea;
	color: #333;
	padding-bottom: 1em;
}

/*section d*/

#section-d *{
	padding: 5px;
	line-height: 1em;
}

#section-d .box{
	background-color: #6d4a4a;
}

#section-d .box:last-child{
	background-color: #333;
}

/*Footer*/

#main-footer{
	background-color: #eaeaea;
	color: #333;
	font-size: 12px;
	line-height: 1em;
	padding: 10px;
}

/*media query*/

@media(min-width: 700px){
	.grid{
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	.content-wrap,
	#section-b ul,
	#section-a .content-title{
		grid-column: 2/4;
	}

	#section-a .content-text{
		columns: 2;
		column-gap: 2em;
	}

	#section-a .content-text p{
		padding-top: 0;
	}

	#section-b ul{
		display: flex;
		justify-content: space-around;
	}

	#section-b li{
		width: 31%;
	}

	.box, #main-footer div{
		grid-column: span 2;
	}
}