/*showcase*/
#showcase .showcase-background{
	/*animation: bgChange 30s infinite;*/
	transition-delay: 2s;
}

svg{
	width: 30px;
	height: 30px;
	/*background-color: black;*/
	color: blue;
}

@keyframes bgChange{
	0%{
		background: url(../img/slideshow/bakery.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	20%{
		background: url(../img/slideshow/bakery2.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	40%{
		background: url(../img/slideshow/berry-cake.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	60%{
		background: url(../img/slideshow/bread.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	80%{
		background: url(../img/slideshow/abundance.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	100%{
		background: url(../img/slideshow/bakery.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


}

#showcase h2{
	padding-top: 200px;
	padding-bottom: 10px;
}

#showcase .content-wrap,
#section-a .content-wrap,
#section-c .content-wrap{
	padding: 0 1.5em;
}

/*section a*/

#section-a {
	background: #6d4a4a;
	color: #fff;
	padding-bottom: 2em;
}

/*section b*/

#section-b{
	padding: 2em 1em 1em;
}

#section-b ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#section-b li img{
	height: 300px;
}

#section-b li h3{
	font-weight: bold;
	text-transform: uppercase;
	color: #222;
}

#section-b li{
	margin-bottom: 2em;
	background-color: #fff;
	color: #333;
}

#section-b ul a{
	text-decoration: none;
	color: #333;
}

/*section c*/

#section-c {
	background: #eaeaea;
	color: #333;
	padding-bottom: 1em;
}

/*section d*/

#section-d *{
	padding: 5px;
	line-height: 1em;
}

#section-d .box{
	background-color: #6d4a4a;
}

#section-d .box:last-child{
	background-color: #333;
}

/*verify section*/


#verify{
	background-color: #eaeaea;
	color: #333;
	padding-bottom: 1.5em;
}

#verify h3{
	padding: 1em 0;
	/*margin: 1em 0;*/
}

#verify .view-all{
	display: inline-block;
	margin-top: 50px;
	text-decoration: none;
	color: #fff;
	width: 100%;
	background-color: #bfbfbf;
	border: none;
	color: #000;
	font-size: 16px;
	border-radius: 3px;
	padding: 10px 0;
}

.carousel-cell{
	background-image: url(../img/white-texture2.jpg); 
	border-radius: 5px;
}

.carousel-cell *{
	padding: 0;
	margin: 0;
}

.carousel-cell .title{
	width: 100%;
	height: 2em;
	line-height: 2em;
	background: rgb(0, 0, 0, 0.7);
	color: #fff;
}

.carousel-cell button{
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 3em;
	background-color: #29a329;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.carousel-cell button:hover{
	background-color: #33cc33;
	font-weight: bold;
}

.carousel-cell .info{
	padding: 0 10px;
}

.carousel-cell .info #validity{
	font-weight: bold;
}

.carousel-cell .info #email{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3em;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}


/*Footer*/

#main-footer{
	background-color: #eaeaea;
	color: #333;
	font-size: 12px;
	line-height: 1em;
	padding: 10px;
}

/*media query*/

@media(min-width: 700px){
	.grid{
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	#verify .content-wrap{
		padding: 0;
	}

	.content-wrap,
	#section-b ul,
	#section-a .content-title,
	#verify .carousel,
	#verify h2,
	#verify .view-all{
		grid-column: 2/4;
	}

	#verify .swiper-container{
		width: 500px;
	}

	#section-a .content-text{
		columns: 2;
		column-gap: 2em;
	}

	#section-a .content-text p{
		padding-top: 0;
	}

	#section-b ul{
		display: flex;
		justify-content: space-around;
	}

	#section-b li{
		width: 31%;
	}

	.box, #main-footer div{
		grid-column: span 2;
	}
}

